.event-container {
    img {
        height: 40vh;
        width: 35vw;
    }
    .card {
        width: 35vw;
        height: 80vh;
    }
}

@media screen and (max-width: 1170px) {
    .event-container {
        .card {
            .card-body {
                .card-text {
                    font-size: 12px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .event-container {
        img {
            height: 180px;
            width: 375px;
        }
        .card {
            height: 450px;
            width: 375px;
            font-size: 12px;
        }
    }
}